/* General style */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  background-color: #fff;
  color: #273244;
  position: relative;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2.5em;
}

h4 {
  color: #fff;
  font-size: 1.4em;
}

p {
  font-size: 1.1em;
  font-weight: 500;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

img {
  width: 100%;
}

/* Navbar Style */
#top-header, #top-navbar, #main-navigation,
.navbar-left, .navbar-button-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#top-header {
  width: 100%;
  background-color: #fff;
  padding: 1em 5em;
}

#top-header #top-navbar {
  width: 100%;
}

#top-header #top-navbar .navbar-left {
  gap: 4em;
}

#top-header #top-navbar .navbar-left .logo-container {
  width: 150px;
}

#top-header #top-navbar .navbar-left #main-navigation {
  gap: 3em;
}

#top-header #top-navbar .navbar-left #main-navigation .nav-item {
  position: relative;
  cursor: pointer;
}

#top-header #top-navbar .navbar-left #main-navigation .nav-item .nav-link {
  font-size: 1.15em;
  font-weight: 500;
  color: #273244;
}

#top-header #top-navbar .navbar-left #main-navigation .nav-item .nav-link:hover {
  opacity: 0.8;
}

#top-header #top-navbar .navbar-left #main-navigation .nav-item .nav-dropdown {
  display: none;
  position: absolute;
  top: 150%;
  left: 0;
  width: 180px;
  padding: 1em 0;
  z-index: 2;
  background-color: #fff;
  border-radius: 0.7rem;
  -webkit-box-shadow: 2px 7px 20px #0000005d;
          box-shadow: 2px 7px 20px #0000005d;
}

#top-header #top-navbar .navbar-left #main-navigation .nav-item .nav-dropdown .dropdown-item {
  padding: 0.5em 1em;
}

#top-header #top-navbar .navbar-left #main-navigation .nav-item .nav-dropdown .dropdown-item:hover {
  background-color: #e6effd;
}

#top-header #top-navbar .navbar-left #main-navigation .nav-item .nav-dropdown .dropdown-item .nav-link:hover {
  opacity: 1;
}

#top-header #top-navbar .navbar-right .navbar-button-container {
  gap: 3em;
}

#top-header #top-navbar .navbar-right .navbar-button-container .login-button {
  color: #273244;
  text-decoration: underline;
}

#top-header #top-navbar .navbar-right .navbar-button-container .sign-up-button {
  padding: 0.5em 2em;
  border: none;
  border-radius: 5em;
  color: #fff;
  cursor: pointer;
  background-color: #FF2E06;
}

#top-header #top-navbar .navbar-right .navbar-button-container .sign-up-button:hover {
  background-color: #f00000;
}

.fixed-navbar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  -webkit-box-shadow: 0px 0px 20px #0000001f;
          box-shadow: 0px 0px 20px #0000001f;
}

.dropdown-active {
  display: block !important;
}

.arrow-active {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-transition: -webkit-transform ease 0.2s;
  transition: -webkit-transform ease 0.2s;
  transition: transform ease 0.2s;
  transition: transform ease 0.2s, -webkit-transform ease 0.2s;
}

/* Hero Style */
#hero-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 78vh;
  background-color: #273244;
  color: #fff;
}

#hero-section .hero-left {
  width: 60%;
  padding: 10em 5em;
}

#hero-section .hero-left .hero-title-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2em;
}

#hero-section .hero-left .hero-title-container .hero-subtitle {
  font-size: 1.5em;
}

#hero-section .hero-right {
  width: 40%;
}

#hero-section .hero-right .hero-img-container {
  width: 100%;
  height: 0;
  padding-top: 78vh;
  position: relative;
}

#hero-section .hero-right .hero-img-container .hero-img {
  display: block;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center center;
     object-position: center center;
}

/* Section 2 style */
#form-partners-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 5em;
}

#form-partners-section .section-2-left {
  width: 60%;
}

#form-partners-section .section-2-left .form-container {
  width: 70%;
  margin-top: -35%;
  padding: 4em 3em;
  background-color: #fff;
  border-radius: 1rem;
  -webkit-box-shadow: 5px 10px 20px #0000001f;
          box-shadow: 5px 10px 20px #0000001f;
  z-index: 1;
}

#form-partners-section .section-2-left .form-container .form-header {
  padding-bottom: 3em;
}

#form-partners-section .section-2-left .form-container #main-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.5em;
}

#form-partners-section .section-2-left .form-container #main-form label, #form-partners-section .section-2-left .form-container #main-form input, #form-partners-section .section-2-left .form-container #main-form select {
  width: 100%;
}

#form-partners-section .section-2-left .form-container #main-form label input, #form-partners-section .section-2-left .form-container #main-form label select {
  padding: 0.7em;
  border: 1.5px solid #C4C4C4;
  border-radius: 0.5rem;
}

#form-partners-section .section-2-left .form-container #main-form label input::-webkit-input-placeholder, #form-partners-section .section-2-left .form-container #main-form label select::-webkit-input-placeholder {
  opacity: 0.8;
  font-weight: 500;
}

#form-partners-section .section-2-left .form-container #main-form label input:-ms-input-placeholder, #form-partners-section .section-2-left .form-container #main-form label select:-ms-input-placeholder {
  opacity: 0.8;
  font-weight: 500;
}

#form-partners-section .section-2-left .form-container #main-form label input::-ms-input-placeholder, #form-partners-section .section-2-left .form-container #main-form label select::-ms-input-placeholder {
  opacity: 0.8;
  font-weight: 500;
}

#form-partners-section .section-2-left .form-container #main-form label input::placeholder, #form-partners-section .section-2-left .form-container #main-form label select::placeholder {
  opacity: 0.8;
  font-weight: 500;
}

#form-partners-section .section-2-left .form-container #main-form label input:focus, #form-partners-section .section-2-left .form-container #main-form label select:focus {
  outline-color: #273244;
}

#form-partners-section .section-2-left .form-container #main-form .invalid-message {
  display: none;
  padding: 0.5em 0.3em;
  font-size: 0.85em;
  color: #FF2E06;
}

#form-partners-section .section-2-left .form-container #main-form .invalid-message .fa-circle-exclamation {
  padding-right: 0.5em;
}

#form-partners-section .section-2-left .form-container #main-form select {
  -webkit-appearance: none;
  -moz-appearance: none;
  background: transparent;
  background-image: url(Images/chevron.png);
  background-repeat: no-repeat;
  background-position-x: 98%;
  background-position-y: 50%;
  background-size: 25px;
}

#form-partners-section .section-2-left .form-container #main-form .submit-button {
  padding: 0.5em 2em;
  border: none;
  border-radius: 0.2em;
  color: #fff;
  cursor: pointer;
  width: 100%;
  margin-top: 1em;
  background-color: #FF2E06;
  font-size: 1.1em;
  font-weight: 500;
}

#form-partners-section .section-2-left .form-container #main-form .submit-button:hover {
  background-color: #f00000;
}

#form-partners-section .sign-in-link {
  padding-top: 3em;
  font-weight: 500;
}

#form-partners-section .sign-in-link a {
  padding-left: 0.2em;
  text-decoration: underline;
  color: #FF2E06;
}

.section-2-right {
  width: 40%;
}

.section-2-right .partner-logo-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 1em 0 3em 0;
}

.section-2-right .partner-logo-container .partner-logo {
  width: 200px;
}

.invalid {
  border: 1.5px solid #eb2f21;
}

/* Section 3 Style */
#section-3 {
  height: 100vh;
  padding: 15em 0;
  position: relative;
}

#section-3 .section-container {
  height: 100%;
}

#section-3 .section-container .content {
  padding: 5em;
  background-color: #FD4D41;
}

#section-3 .section-container .content .section-text {
  font-size: 2.5em;
  width: 50%;
  font-weight: 500;
  color: #fff;
}

#section-3 .section-container .section-img-container {
  position: absolute;
  top: 5%;
  right: 0;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

#section-3 .section-container .section-img-container .section-img {
  width: 400px;
  -webkit-filter: drop-shadow(7px 7px 0.7rem #00000054);
          filter: drop-shadow(7px 7px 0.7rem #00000054);
}

/* Section 4 Style */
#section-4 {
  padding: 7em 5em 12em 5em;
}

#section-4 .section-4-header {
  text-align: center;
}

#section-4 .column-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 7em 3em 0;
}

#section-4 .column-container .column {
  text-align: center;
}

#section-4 .column-container .column .column-img {
  width: 110px;
}

#section-4 .column-container .column .column-text {
  padding: 2em 1em;
  font-weight: 500;
  font-size: 1.1em;
  width: 80%;
  margin: auto;
}

#section-4 .steps-img {
  -webkit-transform: scale(0.82);
          transform: scale(0.82);
}
#section-4 .steps-img-mobile {
    display: none;
  }

/* Section 5 Style */
#section-5 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 100%;
}

#section-5 .section-left, #section-5 .section-right {
  width: 50%;
}

#section-5 .section-left .section-img {
  display: block;
}

#section-5 .section-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 400px;
  padding: 5em;
  gap: 1em;
  background-color: #ffe9e9;
}

#section-5 .section-right .section-content .section-text {
  padding-bottom: 2em;
}

#section-5 .section-right .section-content .cta-button {
  padding: 0.5em 2em;
  border: none;
  border-radius: 5em;
  color: #fff;
  cursor: pointer;
  background-color: #FF2E06;
  font-weight: 500;
}

/* CTA section Style */
#cta-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2em;
  margin: 10em 0 0;
  padding: 5em;
  text-align: center;
  background-color: #f2f7ff;
}

#cta-section .section-header .sub-heading {
  font-size: 2em;
  font-weight: 500;
}

#cta-section .cta-button {
  padding: 0.5em 2em;
  border: none;
  border-radius: 5em;
  color: #fff;
  cursor: pointer;
  background-color: #273244;
  font-weight: 500;
}

#cta-section .cta-button:hover {
  background-color: #364e75;
}

/* Footer Style */
#page-footer {
  padding: 5em 7em;
  background-color: #273244;
  color: #fff;
}

#page-footer .column-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#page-footer .column-container .column {
  padding: 2em 0;
}

#page-footer .column-container .column .social-media-container {
  margin-top: 3em;
}

#page-footer .column-container .column .social-media-container .fa-brands {
  padding: 0.5em;
  font-size: 1.2em;
}

#page-footer .column-container .column .logo-bottom-container {
  width: 150px;
}

#page-footer .column-container .column .column-header {
  padding-bottom: 1em;
}

#page-footer .column-container .column .bottom-nav-container .nav-item .nav-link {
  color: #fff;
}

#page-footer .column-container .column .bottom-nav-container .nav-item {
  font-size: 1.1em;
  padding: 0.3em 0;
}

#page-footer .sub-footer {
  padding-top: 5em;
  text-align: center;
}

#page-footer .sub-footer .sub-footer-link-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 0.5em;
}

#page-footer .sub-footer .sub-footer-link-container .sub-footer-link {
  padding: 0 0.5em;
  color: #fff;
  font-size: 1.1em;
  border-right: 2px solid #fff;
}

#page-footer .sub-footer .sub-footer-link-container .sub-footer-link:last-of-type {
  border-right: none;
}

#support-button-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: fixed;
  bottom: 2%;
  right: 2%;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background-color: #FD4D41;
  -webkit-box-shadow: 0px 15px 10px #0000001f;
          box-shadow: 0px 15px 10px #0000001f;
  opacity: 0;
  -webkit-transition: opacity ease 0.3s 2s;
  transition: opacity ease 0.3s 2s;
}

#support-button-container .support-button {
  color: #fff;
  font-weight: 500;
  font-size: 1.4em;
}

#support-button-container:hover {
  background-color: #f00000;
}

#support-button-container.fade-in {
  opacity: 1;
}

/* Media queries - Responsive Design */
@media screen and (max-width: 450px) {
  h1 {
    font-size: 2em;
  }

  h2 {
    font-size: 1.5em;
  }

  p {
    font-size: 1em;
  }

  #form-partners-section .sign-in-link {
    font-size: 0.9em;
  }

  #hero-section .hero-left .hero-title-container .hero-subtitle {
    font-size: 1.2em;
  }

  #main-navigation, .navbar-right,   #hero-section .hero-right,
  #section-4 .steps-img {
    display: none;
  }

  #top-header {
    padding: 1em 2em;
  }

  #hero-section, #form-partners-section {
    -ms-flex-direction: column;
          flex-direction: column;
    height: auto;
  }

  #hero-section .hero-left,
  #form-partners-section, #page-footer,   #section-5 .section-right,
  #cta-section {
    padding: 5em 2em;
  }



  #form-partners-section .section-2-left,
  .section-2-right, #form-partners-section .section-2-left .form-container,
  #section-3 .section-container .content .section-text,
  #hero-section .hero-left, #form-partners-section, 
  #section-4 .column-container .column .column-text,
    #section-5 .section-left, #section-5 .section-right {
    width: 100%;
  }

  #form-partners-section .section-2-left .form-container {
  padding: 2em;
  }

  #form-partners-section .section-2-left .form-container #main-form {
    gap: 1em;
  }

  .section-2-right .partner-logo-container {
    -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
    -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  }

  .section-2-right .first-row {
    padding: 7em 0 3em 0;
  }

  .section-2-right .second-row {
    padding: 1em 0 0em 0;
    -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  }

  .section-2-right .partner-logo-container .partner-logo {
    width: 140px;
  }
  #section-3 {
    height: 100vh;
    padding: 3em 0 5em 0;
  }

  #section-3 .section-container {
    display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  }

  #section-3 .section-container .content {
  padding: 5em 2em 10em 2em;
  background-color: #FD4D41;

  }

  #section-3 .section-container .content .section-text {
    font-size: 1.5em;
  }

  #section-3 .section-container .section-img-container {
    width: 100%;
    text-align: center;
    margin-top: -8em;
    position: initial;
    top: 0;
    right: 0;
    -webkit-transform: translate(0%, 0%);
          transform: translate(0%, 0%);
  }

  #section-3 .section-container .section-img-container .section-img {
    width: 250px;
    -webkit-filter: drop-shadow(7px 7px 0.7rem #00000054);
          filter: drop-shadow(7px 7px 0.7rem #00000054);
  }

  #section-4 {
    padding: 5em 2em 0 2em;
  }

  #section-4 .column-container {
    width: 60%;
     justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
        -ms-flex-direction: column;
          flex-direction: column;
          gap: 5em;
    padding: 1em 0 0;
  }

  #section-4 .column-container .column .column-img {
  width: 50px;
  }

  #section-4 .column-container .column .column-text {
  padding: 1em;
  font-weight: 500;
  font-size: 0.9em;
  margin: auto;
  }
  .column-wrap-mobile {
      display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: flex-start;
      -ms-flex-align: flex-start;
          align-items: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
          padding: 5em 0;
  }

  #section-4 .steps-img-container {
    width: 40%;

  }

  #section-4 .steps-img-mobile {
    display: block;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  }

  #section-5 {
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
    height: 100%;
  }

  #section-5 .section-left, #section-5 .section-right {
    width: 100%;
  }

  #section-5 .section-right {
    height: auto;
    gap: 1em;
  }

  #cta-section {
    gap: 2em;
    margin: 0;
  }

  #cta-section .section-header .sub-heading {
    font-size: 1.2em;
  }

  #page-footer .column-container {
    -webkit-box-align: center;
        -ms-flex-align: center;
          align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  #page-footer .sub-footer .sub-footer-link-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 0.5em;
  }

  #page-footer .sub-footer .sub-footer-link-container .sub-footer-link {
    font-size: 0.85em;
  }

}

/*# sourceMappingURL=style.css.map */